
*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("fondo.jpg\ \(2\).jpg");
    
    background-repeat: no-repeat;
    
    }
    
    
    
    .img{
    
    position: relative;
    
     top: 531px;
    
    width: 371px;
    
    height: 207px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("medellin.webp");
    
    }
    
    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
         
        
        .imagentecno{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("medellin.jpeg");
        
        }
        
        
        
        .textotecno{
        
        text-align: justify;
        
        color: azure;
        
        font-size: 20px;
        
        
        
        }
        

    
    
        

    
    